@tailwind base;
@tailwind components;
@tailwind utilities;

webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
::-moz-selection {
	color: white;
	background: #333;
}
::selection {
	color: white;
	background: #333;
}
:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		'liga' 1,
		'calt' 1,
		'ss01' 1,
		'ss07' 1,
		'ss08' 1,
		'cv10' 1,
		'cv01' 1;
	font-weight: 340;
	letter-spacing: -0.015em;
	color: #404040;
	line-height: 1.15;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

/* Wizardry */
html {
	font-size: calc(0.8vw + 0.3em);
}
/* Max Font Size */
@media screen and (min-width: 1600px) {
	html {
		font-size: 1.1em;
	}
}
/* Min Font Size */
@media screen and (max-width: 991px) {
	html {
		font-size: calc(0.4vw + 0.625em);
	}
}

html {
	scroll-behavior: smooth;
	background-color: #000;
}

h1 {
	font-size: 2rem;
}

a:not(.nav-link) {
	@apply border-b transition-colors hover:border-b-emerald-400
}


/* Custom */
.nav-link {
	@apply leading-none transition-all duration-200 ease-in-out hover:opacity-50;
}
.nav-link.active {
	@apply hidden opacity-50 sm:block;
}
