/*! Tailwind Generated */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*! Selection */
::-moz-selection {
	color: #e7e5e4;
	background: black;
}
::selection {
	color: #e7e5e4;
	background: black;
}

/*! Type */
:root {

	font-family: Inter, sans-serif;
	font-feature-settings:
		'liga' 1,
		'calt' 1,
		'ss01' 1,
		'ss07' 1,
		'ss08' 1,
		'cv10' 1,
		'cv01' 1;
	font-weight: 400;
	letter-spacing: -0.015em;
	color: #000;
	line-height: 1.15;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

/*! Wizardry */
html {
	font-size: calc(0.8vw + 0.3em);
}
@media screen and (min-width: 1600px) {
	html {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 991px) {
	html {
		font-size: calc(0.4vw + 0.625em);
	}
}

/*! Defaults */
html {
	background-color: #e7e5e4;
}
a:not(.nav-link) {
	@apply border-b transition-colors duration-500 hover:border-b-black;
}
h1 {
	font-size: 2.5rem;
	text-wrap: balance;
	line-height: 1.1;
}
h2 {
	font-size: 1.3rem;
	text-wrap: balance;
}
h3 {
	font-size: 1rem;
}
img {
	object-fit: cover;
}
.cont img {
	border-radius: 4px;
	filter: grayscale(100%) contrast(80%) brightness(90%);
	transition: all 500ms ease-out;
}
.cont:hover img {
	border-radius: 8px;
	filter: grayscale(0%) contrast(100%) brightness(100%);
}
main {
	min-height: 100svh;
}